{:deps     true

 :builds   {:app {:target     :browser
                  :output-dir "public"
                  :asset-path "/"
                  :modules    {:main {:entries [demo.app]
                                      :init-fn demo.app/start!}}}}

 :dev-http {8000 "public"}
 :nrepl    {:port 9000}}
